<!-- LINKS -->
<a href="#" class="link-arrow">Learn More</a>

<!-- Badges -->
<span class="badge badge--primary">10% off</span>
<span class="badge badge--secondary">10% off</span>
<span class="badge badge--secondary badge--small">10% off</span>

<ul class="list list--tick">
  <li class="list__item">Item 1</li>
  <li class="list__item">Item 2</li>
  <li class="list__item">Item 3</li>
</ul>


<!-- icons -->

<span class="icon-container">
</svg><svg class="icon icon--primary">
  <use xlink:href="images/sprite.svg#wordpress"></use>
</svg>
</span>

<!-- Buttons -->

<button class="btn btn--primary btn--block">Get Started</button>
<button class="btn btn--secondary btn--block">Get Started</button>
<button class="btn btn--accent btn--block">Get Started</button>
<button class="btn btn--outline btn--block">Buy now</button>

<!-- Search  -->


<div class="input-group">
  <input
    class="input"
    type="text"
    placeholder="Enter domain name here..."
  />
  <span class="icon-container">
  </svg><svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#wordpress"></use>
  </svg>
  </span>
  <button class="btn btn--accent">Search</button>
</div>


<!-- Popular  -->


<div style="width: 45%; padding: 4rem">
  <div class="plan plan--popular">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description">Easy start on the cloud</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Unlimited Website</li>
          <li class="list__item">Unlimited Bandwidth</li>
          <li class="list__item">100 GB SSD Storage</li>
          <li class="list__item">3GB RAM</li>
        </ul>
        <button class="btn btn--outline btn--block">Buy now</button>
      </div>
    </div>
  </div>
</div>

<!-- Media object -->

<div class="media">
  <div class="media__image">
    </svg><svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Manage Updates</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit iste nam facere molestias explicabo pariatur cum suscipit distinctio voluptatum!</p>
  </div>
</div>

<!-- QUOTES -->

<blockquote class="quote">
  <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum magni hic qui iure dolorum accusantium corrupti enim, quae voluptas inventore similique nobis, tempore commodi debitis! Perferendis vel molestias officia rerum.</p>
  <footer>
    <div class="media">
      <div class="media__image">
        </svg><svg class="icon quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Raimond Simanovics</h3>
        <p class="quoote_company">ABC company</p>
      </div>
    </div>
  </footer>
</blockquote>

<!-- Terminators -->

<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A happy Customer">
      <span class="icon-container icon-container--accent">
        </svg><svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum magni hic qui iure dolorum accusantium corrupti enim, quae voluptas inventore similique nobis, tempore commodi debitis! Perferendis vel molestias officia rerum.</p>
      <footer>
        <div class="media">
          <div class="media__image">
            </svg><svg class="icon quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Raimond Simanovics</h3>
            <p class="quoote_company">ABC company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>



<!-- Callouts -->

<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus dolores odio recusandae praesentium, quae velit iure fugiat explicabo non iste quam. Dignissimos fugit similique illum laudantium nulla eveniet ab voluptatum?</p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>


<!-- Collapsibles -->

<div class="collapsible collapsible--expended">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
      <svg class="icon icon--white collapsible__icon">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
  </header>
  <div class="collapsible__content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ea et cupiditate sit voluptatum obcaecati maiores cum corporis ipsa maxime.</p>
  </div>
</div>
